.header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 10px;
}

.content {
    text-align: center;
    font-family: cursive;
}

.container {
    display: flex;
}

.game {
    background-color: papayawhip;
    border-radius: 4px;
    border: 2px solid deepskyblue;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    width: 80%;
    position: relative;
    height: 81vh;
    overflow-x:hidden;
}

.game-buttons {
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.character-list {
    background-color: lavender;
    border-radius: 4px;
    border: 2px solid deepskyblue;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    width: 20%;
    position: relative;
    height: 81vh;
}

.character-list-table {
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.character-list-buttons {
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer {
    width:100%;
    margin:0 auto;
    background-color: darkgrey;
    position: relative;
    right: 5px;
    bottom: 0;
    border-radius: 4px;
    border: 2px solid deepskyblue;
}

.footer-buttons {
    width: 100%;
    text-align: center;
}

.footer-buttons td {
    width: 25%;
}

.line-table-separator {
    border-top: 3px solid grey;
}

th {
    width: 33%;
}

.button {
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid deepskyblue;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.item-list {
    text-align: left;
    margin-left: 15px;
}

.info {
    text-align: left;
    margin-left: 15px;
    position: absolute;
}

.game-buttons .button {
    font-size: 14px;
}

.footer-buttons>* {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 160px;
}

.start-page-content {
    justify-content: center;
    font-size: 16px;
    margin: 10px;
    width: 100%;
}

.start-page-table {
    table-layout: fixed; /* Фиксированная ширина ячеек */
    width: 100%; /* Ширина таблицы */
}